@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.imgcenter {
  text-align: center;
  padding: 15px;
}

.img {
  height: 190px;
  width: 200px;
}

.myprojectheading {
  font-family: Bree Serif;
  font-size: 25px;
  color: #183b56;
}

.myprojectparagraph {
  font-family: Bree serif;
  font-size: 12px;
  color: #616e7c;
}

.myprojectimg {
  height: 100px;
  width: 145px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.imgpadding {
  padding: 10px;
}

.bg-imageAT {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
  height: 130vh;
  background-size: cover;
}

.bg-clr {
  background-color: #ffffff;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.main-heading {
  font-family: bree Serif;
  font-size: 25px;
  color: #5752ab;
  text-align: left;
}

.paragraph {
  font-family: Roboto;
  font-size: 15px;
  color: #323f4b;
  text-align: left;
}

.button1 {
  height: 40px;
  width: 110px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #ffffff;
  color: #171f46;
  font-size: 12px;
  font-family: Roboto;
  margin: 5px;
}

.bgimage {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
  height: 100vh;
  background-size: cover;
}

.cards {
  background-color: #f6c56e;
  padding: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.main-heading {
  font-family: Bree Serif;
  color: #323f4b;
}

.padding {
  font-family: Roboto;
  color: #323f4b;
  font-weight: bold;
}

.bg-imagenews {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
  height: 100vh;
  background-size: cover;
}

.bg-clr {
  background-color: #ffffff;
  border-top-left-radius: 16px;
  border-top-left-radius: 16px;
  padding: 15px;
}

.heading {
  font-family: Roboto;
  font-size: 12px;
  color: #323f4b;
}

.heading1 {
  font-family: Roboto;
  font-size: 20px;
  color: #323f4b;
}

.paragraph {
  font-family: Roboto;
  font-size: 12px;
  color: #7b8794;
  padding: 2px;
}

.button {
  font-family: Roboto;
  font-size: 12px;
  height: 35px;
  width: 110px;
  color: #ffffff;
  border-width: 0px;
  border-radius: 6px;
  background-color: #323f4b;
}

.bg-image {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
  height: 35vh;
  background-size: cover;
}

.diwali-image-heading {
  width: 200px;
  font-family: Caveat;
  font-size: 36px;
  font-weight: bold;
  padding: 20px;
  color: white;
}

.bg-img {
  background-color: #b7ebdf;
  text-align: center;
}

.bg-card {
  text-align: center;
  background-color: white;
  width: 150px;
  border-radius: 20px;
  padding: 5px;
  margin: 20px;
}

.headingdiwali {
  font-size: 15px;
  font-family: Roboto;
  padding: 10px;
  font-style: italic;
}

.paragraphdiwali {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
}

.img-size {
  height: 70px;
  width: 70px;
}
